* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    list-style: none;
}

header {
    background: linear-gradient(135deg, #ffffff, #424242);
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-around;
    padding: 2rem 3rem;
    font-size: 1.25rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo{
    width:8rem;
    height: auto;
}

